{% extends 'base.html.twig' %}

{% block title %}Symfony Restuarant{% endblock %}

{% block body %}
    
    <!-- Image header -->
    <div class="w3-display-container w3-container">
        <img src="{{asset('assets/img/imgheader.jpg')}}" alt="Jeans" style="width:100%">
        <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
        <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
        <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
        <h1 class="w3-hide-small">COLLECTION 2016</h1>
        <p><a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
        </div>
    </div>

    <div class="w3-container w3-text-grey" id="jeans">
    
        <p>8 items</p>
    </div>

    <!-- Product grid -->
    {#
        Logique de la boucle:
        entity_count permet de connaitre le nombre de publications d'Entity
        Notre container de container doit contenir deux Entity
        Evant notre boucle, nous ouvrons notre container de notre container et plaçons entity_count à zéro
        A chaue publication d'Entity, entity_count est incrémenté de 1
        En début de boucle, lorsque entity_count est égal à 2, il est réinitialisé à zéro et le container de container est fermé et réouvert
        à la fin de notre boucle, nous ajetons un </div> de fermeture pour fermer le dernier container qui n'a pas été fermé par la boucle for (étant donné que le <div> de fermeture est placé dans la condition initiole)
    #}
    <div class="w3-row w3-grayscale">
    {% set entity_count = 0 %}
        <div class="w3-col l3 s6">
        {% for plat in plats %}
            {% if entity_count >= 2 %}
                {% set entity_count = 0 %}
                </div>
                <div class="w3-col l3 s6">
            {% endif %}
            <div class="w3-container">
                <a href="{{ path('produit_display', {'platId' : plat.id}) }}">
                <img src="{{asset('assets/img/plat_2.jpg')}}" style="width:100%">
                </a>
                <p>{{ plat.name}}<br><b>{{ plat.price}} £</b></p>
            </div>
            {% set entity_count = entity_count + 1 %}
    {% endfor %}
    </div>
    </div>

    <!-- Subscribe section -->
    <div class="w3-container w3-black w3-padding-32">
        <h1>Subscribe</h1>
        <p>To get special offers and VIP treatment:</p>
        <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
        <button type="button" class="w3-button w3-red w3-margin-bottom">Subscribe</button>
    </div>
    
{% endblock %}
